# Node.js dependencies
node_modules/
pnpm-lock.yaml

# Vite & Vinxi
.output/
.vinxi/

# Logs and debugging
pnpm-debug.log*
debug.log*

# Environment variables
.env

# Build and type checking
out/

# macOS system files
.DS_Store
*.DS_Store
